pandas>=2.2.0
numpy>=1.26.0
scikit-learn>=1.5.0
torch>=2.0.0
matplotlib>=3.8.0
seaborn>=0.13.0
tqdm>=4.66.0
emoji>=2.10.0
Sastrawi>=1.0.1

google-play-scraper>=1.2.7

datasets>=2.19.0
transformers>=4.40.0
evaluate>=0.4.0
accelerate>=0.30.0

safetensors